:root{
    --diameter: 250px;
    --border-width: 2px;
    --background: rgb(70, 67, 67);
    --border-color: white;
}
body{
    background: var(--background);
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
}
.main{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease;
}
.btn{
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px;
    border-style: solid;
    border-color: white; */
    transition: all 1s ease;
    position: relative;
}
.outer_circle{
    position: absolute;
    top: 0;
    right: 0;
    height: var(--diameter);
    width: var(--diameter);
    border-radius: 10rem;
    background: var(--border-color);
}
.inner_circle{
    position: absolute;
    top: var(--border-width);
    right: var(--border-width);
    height: calc(var(--diameter) - 2*var(--border-width));
    width: calc(var(--diameter) - 2*var(--border-width));
    background: var(--background);
    border-radius: 10rem;
    
    transition-delay: .75s;
    z-index: 3;
}
.box{
    position: absolute;
    height: calc(var(--diameter)/2);
    width: calc(var(--diameter)/2);
    background: var(--background);
    z-index: 2;
}
.box-top-left{
    top: 0;
    left: 0;
    transform-origin: 100% 100%;
}
.box-top-right{
    top: 0;
    right: 0;
    transform-origin: 0 100%;
}
.box-bottom-left{
    bottom: 0;
    left: 0;
    transform-origin: 100% 0%;
    
}
.box-bottom-right{
    bottom: 0;
    right: 0;
    transform-origin: 0 0;
}
.btn:hover{
    cursor: pointer;
    border-style: none;  
}

.btn:hover .box-top-left{
    animation: show-top-left .0625s linear .5625s forwards;
}
.btn:hover .box-bottom-left{
    animation: show-bottom-left .0625s linear .625s forwards;
}
.btn:hover .box-bottom-right{
    animation: show-bottom-right .0625s linear .6875s forwards;
}
.btn:hover .box-top-right{
    animation: show-top-right .0625s linear .5s forwards;
}
@keyframes show-top-left{
    0%{
        transform: skewX(0deg);
    }
    99.9%{
        height: calc(var(--diameter)/2);
        width: calc(var(--diameter)/2);
    }
    100%{
        height: 0;
        width: 0;
        transform: skewX(90deg);
    }
}
@keyframes show-bottom-left{
    0%{
        transform: skewY(0deg);
    }
    99.9%{
        height: calc(var(--diameter)/2);
        width: calc(var(--diameter)/2);
    }
    100%{
        height: 0;
        width: 0;
        transform: skewY(-90deg);
    }
}
@keyframes show-bottom-right{
    0%{
        transform: skewX(0deg);
    }
    99.9%{
        height: calc(var(--diameter)/2);
        width: calc(var(--diameter)/2);
    }
    100%{
        height: 0;
        width: 0;
        transform: skewX(90deg);
    }
}
@keyframes show-top-right{
    0%{
        transform: skewY(0deg);
    }
    99.9%{
        height: calc(var(--diameter)/2);
        width: calc(var(--diameter)/2);
    }
    100%{
        height: 0;
        width: 0;
        transform: skewY(-90deg);
    }
}
@keyframes middle-bar{
    0%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(-40px);
        background-color: rgb(204, 61, 140);
    }
    60%{
        background-color: rgb(204, 61, 140);
    }
    100%{
        transform: translateX(40px);
        background-color: white;
    }
}
@keyframes top-bar{
    0%{
        transform: rotateZ(0deg) translateY(-40px);
    }
    25%{
        transform: rotate(10deg) translateY(-40px);
    }
    60%{
        background-color: rgb(204, 61, 140);
    }
    100%{
        transform: rotateZ(-45deg);
        background-color: white;
    }
}
@keyframes bottom-bar{
    0%{
        transform: rotateZ(0deg) translateY(40px);
    }
    25%{
        transform: rotate(-10deg) translateY(40px);
    }
    60%{
        background-color: rgb(204, 61, 140);
    }
    100%{
        transform: rotateZ(45deg);
        background-color: white;
    }
}




.btn_bar_2{
    width: 170px;
    height: 4px;
    background-color: rgb(204, 61, 140);
    border-radius: 1rem;
    z-index: 10;
    transition: background 1s ease;
    transition: transform .5s ease;
}
.btn_bar_1{
    position: absolute;
    width: 170px;
    height: 4px;
    background-color: rgb(204, 61, 140);
    border-radius: 1rem;
    transform: translateY(-40px);
    transition: all .5s ease;
    z-index: 10;
    
}
.btn_bar_3{
    position: absolute;
    width: 170px;
    height: 4px;
    background-color: rgb(204, 61, 140);
    border-radius: 1rem;
    transform: translateY(40px);
    transition: all .5s ease;
    z-index: 10;
}
.btn:hover .btn_bar_2{
    animation: middle-bar .5s ease;
    transform: translateX(55px);
    background: transparent;
}
.btn:hover .btn_bar_1{
    animation: top-bar 1s ease;
    transform: rotateZ(-45deg);
    background-color: white;
}
.btn:hover .btn_bar_3{
    animation: bottom-bar 1s ease;
    transform: rotateZ(45deg);
    background-color: white;
}
.btn:hover .inner_circle{
    background-color: rgb(204, 61, 140);
}